.lauria {
    color: #ba41d8;
 }

.ben {
    color: #00b300;
}

.Franky {
    color: #33cccc;
}

.chen {
    color: #0033cc;
 }

.Satan {
    color: #000;
   /* font-weight: bold;
   text-shadow: 1.5px 1.5px #ffe0ed;*/
   background: -webkit-linear-gradient(#b70000, #000);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   }

body {
    margin: 60px auto !important;
    width: 70%;
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

nav{
    padding-bottom: 10px;
}

a {
    text-decoration: underline;
    color: #595959;
}

p ul
{
    list-style-type: none;
    font-size: 1.2em;
}

li{
    font-size: 1.2em;
}

a:hover {
    text-decoration: underline;
    color: #cc99ff;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

h3 {
    font-size: 1.5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    background: -webkit-linear-gradient(#42adf4, #e886ca);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

p {
    font-size: 1.2em;
    line-height: 1.3em;
    color: #000000;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

ol li {
    font-size: 1.2em;
    line-height: 1.3em;
    color: #000000;
}

 .indented { 
    padding-left: 50pt; 
    padding-right: 50pt; 
}
    .left {
    /* position:absolute;
    float: left;   
    left:0; 
    top:92px; 
    width: 178px;*/
    outline: #fcabd2 solid thick;
    padding-right: 10px;
    padding-left: 10px;        
    width: 32%;
    float: left;
    margin: 40px;
    padding-bottom: 10px;
        
}

   .left ul{
    font-size:0.9em !important;
}

.wrapper{
    width: 1005px;
    margin: 0 auto;
}

 .main {
    /* position:absolute;
    float: right;
    left:178px; 
    top:90px; 
    right:0; 
    bottom:0;
    padding-left: 100px !important;
    padding-right: 100px !important;
    padding-top:15px !important;*/
    float: right;
    }

@media (max-width: 1000px){
  .main, .left { 
    float:none !important; 
    width:75% !important; 
    margin:30px !important;
    padding-top: 10px;
    }}

@media (max-width: 1000px){
nav ul li, footer ul li {
    display: block;
    }}

@media (max-width: 1000px){
nav ul li, footer ul li {
    display: block;
    }}

@media (max-width: 1000px){
img {
    width: 80% !important;
    }}

@media (max-width: 1000px){
    body{
    margin: 30px auto !important;
    width: 85%;
    }
}

@media (max-width: 1000px){
    .indented { 
    padding-left: 30pt !important; 
    padding-right: 30pt !important; 
}
}

 .top {
    position:absolute;
    left:0; 
    right:0;
    height: 92px;
  }

.top nav ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

.top footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

.top nav ul li {
    display: inline;
    margin-right: 20px;
}

.top footer ul li {
    display: inline;
    margin-right: 20px;
}

