<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        	<li><a href="/">Home</a></li>
	        	<li><a href="/Hellhole/rooms">Choose Your Own Adventure</a></li>
        		<li><a href="http://pinelife3.tumblr.com">Blog</a></li>
			<li><a href="/Chigurh">Chigurh</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		    
			</footer>
		</body>
	</html>
