<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        	<li><a href="/">Home</a></li>
	        	<li><a href="http://pinelife.github.io/about/about">About</a></li>
        		<li><a href="http://pinelife.github.io/cv/cv">CV</a></li>
        		<li><a href="http://pinelife3.tumblr.com">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	    <li><a href="http://pinelife.net">Pinelife I</a></li>
			<li><a href="http://pinelife2.tumblr.com">Pinelife II</a></li>
			<li><a href="http://pinelife3.tumblr.com">Pinelife III</a></li>
				</ul>
			</footer>
		</body>
	</html>
